@import '../variables';
@import '../mixins';
//浮动
.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.center-block {
    @include center-block;
}

.clearfix {
    @include clearfix;
}

//页面整体留白
.padding {
    @include tile-padding;
}

.padding-left {
    @include tile-padding-left;
}

.padding-right {
    @include tile-padding-right;
}

.no-padding {
    @include no-padding;
}

.no-padding-left {
    @include no-padding-left;
}

.no-padding-right {
    @include no-padding-right;
}

// Wrapper to be used around all container not in .bar-title and .bar-tab
.container {
    // main绝对定位，进行内部滚动，修复ios中 fixed 元素和输入框的 定位异常bug
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; // 使之可以滚动
    overflow: auto; // 修复因绝对定位失去的弹性
    -webkit-overflow-scrolling: touch; // Hack to force all relatively and absolutely positioned elements still render while scrolling
    // Note: This is a bug for "-webkit-overflow-scrolling: touch"
    @include transform(translateZ(0));
}

//页面header/footer
header,
footer,
.header,
.footer {
    position: fixed;
    left: 0;
    z-index: $z-index-head;
    width: 100%;
}

header,
.header {
    top: 0;
    height: $header-height;
    line-height: $header-height;
    /* stylelint-disable no-descending-specificity */
    ~ .container {
        border-top: $header-height solid transparent;
    }
    /* stylelint-enable no-descending-specificity */
    .h1,
    h1 {
        //text-align: center;
        //font-size: $font-size-h1;
        margin-bottom: 0;
    }
    .title {
        position: absolute;
        width: 100%;
        line-height: 44px;
        color: #000;
        text-align: center;
        white-space: nowrap;
    }
    .icon-return {
        position: absolute;
        left: 0;
    }
    .btn {
        padding: 8px 16px;
        margin-top: 8px;
        font-size: 14px;
    }
    .btn.pull-left {
        margin-left: nth($page-padding, 1);
        @media (max-width: 320px) {
            margin-left: nth($page-padding, 2);
        }
    }
    .btn.pull-right {
        margin-right: nth($page-padding, 1);
        @media (max-width: 320px) {
            margin-right: nth($page-padding, 2);
        }
    }
}

footer,
.footer {
    bottom: 0;
    height: nth($footer-height, 2);
    /* stylelint-disable no-descending-specificity */
    ~ .container {
        border-bottom: nth($footer-height, 2) solid transparent;
        @media (max-width: 320px) {
            border-bottom: nth($footer-height, 1) solid transparent;
        }
    }
    /* stylelint-enable no-descending-specificity */
    @media (max-width: 320px) {
        height: nth($footer-height, 1);
    }
}

.header-2nd ~ .container {
    border-top: ($header-height * 2) solid transparent;
}

.footer-2nd ~ .container {
    border-bottom: (nth($footer-height, 2) * 2) solid transparent;
    @media (max-width: 320px) {
        border-bottom: (nth($footer-height, 1) * 2) solid transparent;
    }
}

.placehold-wrap {
    position: relative;
    padding-top: 31.25%;
}

.placehold {
    position: absolute;
    top: 0;
    z-index: $z-index-placehold;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: $txt-color-muted;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.placehold-img {
    padding-top: 31.25%;
    .img,
    img {
        width: 100%;
        height: 100%;
    }
    @include placehold-img;
}

// 排版
.flex,
.tiled {
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

.flex-ver {
    flex-direction: column;
}

// 平铺
.tiled {
    .li,
    li {
        display: flex;
        width: 100%;
        text-align: center;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// 垂直上下居中
.vc {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
